CalcularMediaDesktop/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceCalcularMedia.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceCalcularMedia.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MediaRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nota1" type="xs:double" />
      <xs:element minOccurs="0" name="Nota2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaRequest" nillable="true" type="tns:MediaRequest" />
  <xs:complexType name="MediaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Media" type="xs:double" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MediaResponse" nillable="true" type="tns:MediaResponse" />
</xs:schema>