CalcularMediaDesktop/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56652/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceCalcularMedia.DataContract" />
  <xs:element name="CalcularMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceCalcularMedia.DataContract" minOccurs="0" name="request" nillable="true" type="q1:MediaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceCalcularMedia.DataContract" minOccurs="0" name="CalcularMediaResult" nillable="true" type="q2:MediaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>